.vanilla a{
	background:url(../img/flavors/vanilla.png) no-repeat top center;
	display:block;
}

.chocolate a{
	background:url(../img/flavors/chocolate.png) no-repeat top center;
	display:block;
}

.vanilla-chocolate a{
	background:url(../img/flavors/vanilla-chocolate.png) no-repeat top center;
	display:block;
}

.ginger a{
	background:url(../img/flavors/ginger.png) no-repeat top center;
	display:block;
}

.graham a{
	background:url(../img/flavors/graham.png) no-repeat top center;
	display:block;
}

.vanilla-almond a{
	background:url(../img/flavors/vanilla-almond.png) no-repeat top center;
	display:block;
}

.coffee-chocolate a{
	background:url(../img/flavors/coffee-chocolate.png) no-repeat top center;
	display:block;
}

.chocolate-chip a{
	background:url(../img/flavors/chocolate-chip.png) no-repeat top center;
	display:block;
}

.white-chocolate a{
	background:url(../img/fillings/white-chocolate.png) no-repeat top center;
	display:block;
}
.milk-chocolate a{
	background:url(../img/fillings/milk-chocolate.png) no-repeat top center;
	display:block;
}
.dark-chocolate a{
	background:url(../img/fillings/dark-chocolate.png) no-repeat top center;
	display:block;
}
.double-dark-chocolate a{
	background:url(../img/fillings/double-dark-chocolate.png) no-repeat top center;
	display:block;
}
.double-milk-chocolate a{
	background:url(../img/fillings/double-milk-chocolate.png) no-repeat top center;
	display:block;
}
.hazelnut-chocolate a{
	background:url(../img/fillings/hazelnut-chocolate.png) no-repeat top center;
	display:block;
}
.coffee-chocolate a{
	background:url(../img/fillings/coffee-chocolate.png) no-repeat top center;
	display:block;
}

.strawberry a{
	background:url(../img/fillings/strawberry.png) no-repeat top center;
	display:block;
}
.mango a{
	background:url(../img/fillings/mango.png) no-repeat top center;
	display:block;
}
.lemon a{
	background:url(../img/fillings/lemon.png) no-repeat top center;
	display:block;
}
.lime a{
	background:url(../img/fillings/lime.png) no-repeat top center;
	display:block;
}
.coconut a{
	background:url(../img/fillings/coconut.png) no-repeat top center;
	display:block;
}
.mint a{
	background:url(../img/fillings/mint.png) no-repeat top center;
	display:block;
}
.coffee a{
	background:url(../img/fillings/coffee.png) no-repeat top center;
	display:block;
}
.hazelnut a{
	background:url(../img/fillings/hazelnut.png) no-repeat top center;
	display:block;
}
.caramel a{
	background:url(../img/fillings/caramel.png) no-repeat top center;
	display:block;
}
.salted-caramel a{
	background:url(../img/fillings/salted-caramel.png) no-repeat top center;
	display:block;
}
.maple a{
	background:url(../img/fillings/maple.png) no-repeat top center;
	display:block;
}
.marshmallow a{
	background:url(../img/fillings/marshmallow.png) no-repeat top center;
	display:block;
}
.butterscotch a{
	background:url(../img/fillings/butterscotch.png) no-repeat top center;
	display:block;
}
.molasses a{
	background:url(../img/fillings/molasses.png) no-repeat top center;
	display:block;
}
.creme-brulee a{
	background:url(../img/fillings/creme-brulee.png) no-repeat top center;
	display:block;
}
.pumpkin-spice a{
	background:url(../img/fillings/pumpkin-spice.png) no-repeat top center;
	display:block;
}
.chocolate-covered-crisp a{
	background:url(../img/toppings/chocolate-covered-crisp.png) no-repeat top center;
	display:block;
}
.chocolate-covered-pretzels a{
	background:url(../img/toppings/chocolate-covered-pretzels.png) no-repeat top center;
	display:block;
}
.cocoa-nibs a{
	background:url(../img/toppings/cocoa-nibs.png) no-repeat top center;
	display:block;
}
.crushed-graham-crackers a{
	background:url(../img/toppings/crushed-graham-crackers.png) no-repeat top center;
	display:block;
}
.crushed-malted-milk-balls a{
	background:url(../img/toppings/crushed-malted-milk-balls.png) no-repeat top center;
	display:block;
}
.crushed-peppermint-candy a{
	background:url(../img/toppings/crushed-peppermint-candy.png) no-repeat top center;
	display:block;
}
.crushed-potato-chips a{
	background:url(../img/toppings/crushed-potato-chips.png) no-repeat top center;
	display:block;
}
.rock-candy a{
	background:url(../img/toppings/rock-candy.png) no-repeat top center;
	display:block;
}
.toffee a{
	background:url(../img/toppings/toffee.png) no-repeat top center;
	display:block;
}
.white-chocolate-chips a{
	background:url(../img/toppings/white-chocolate-chips.png) no-repeat top center;
	display:block;
}
.candied-apple a{
	background:url(../img/toppings/candied-apple.png) no-repeat top center;
	display:block;
}
.candied-ginger a{
	background:url(../img/toppings/candied-ginger.png) no-repeat top center;
	display:block;
}
.dried-apricots a{
	background:url(../img/toppings/dried-apricots.png) no-repeat top center;
	display:block;
}
.dried-cranberries a{
	background:url(../img/toppings/dried-cranberries.png) no-repeat top center;
	display:block;
}
.dried-pineapple a{
	background:url(../img/toppings/dried-pineapple.png) no-repeat top center;
	display:block;
}
.lemon-peel a{
	background:url(../img/toppings/lemon-peel.png) no-repeat top center;
	display:block;
}
.orange-peel a{
	background:url(../img/toppings/orange-peel.png) no-repeat top center;
	display:block;
}
.raisins a{
	background:url(../img/toppings/raisins.png) no-repeat top center;
	display:block;
}
.cashews a{
	background:url(../img/toppings/cashews.png) no-repeat top center;
	display:block;
}
.macadamias a{
	background:url(../img/toppings/macadamias.png) no-repeat top center;
	display:block;
}
.pecans a{
	background:url(../img/toppings/pecans.png) no-repeat top center;
	display:block;
}
.pistachios a{
	background:url(../img/toppings/pistachios.png) no-repeat top center;
	display:block;
}
.almonds a{
	background:url(../img/toppings/almonds.png) no-repeat top center;
	display:block;
}
.sunflower-seeds a{
	background:url(../img/toppings/sunflower-seeds.png) no-repeat top center;
	display:block;
}
.candied-lavender a{
	background:url(../img/toppings/candied-lavender.png) no-repeat top center;
	display:block;
}
.chilli-powder a{
	background:url(../img/toppings/chilli-powder.png) no-repeat top center;
	display:block;
}
.cinnamon a{
	background:url(../img/toppings/cinnamon.png) no-repeat top center;
	display:block;
}
.coconut a{
	background:url(../img/toppings/coconut.png) no-repeat top center;
	display:block;
}
.sea-salt a{
	background:url(../img/toppings/sea-salt.png) no-repeat top center;
	display:block;
}
