@font-face {
	font-family: BryantWebMedium;
	src: url('fonts/Bryant2Web_EOT/BryantWebMedium.eot');
	src: url('fonts/Bryant2Web_WOFF/BryantWebMedium.woff') format('woff');
	/*src: url('fonts/Bryant2Web_TTF/BryantWebMedium.ttf') format('truetype');*/
}
@font-face {
	font-family: BryantWebRegular;
	src: url('fonts/Bryant2Web_EOT/BryantWebRegular.eot');
	src: url('fonts/Bryant2Web_WOFF/BryantWebRegular.woff') format('woff');
	/*src: url('fonts/Bryant2Web_TTF/BryantWebRegular.ttf') format('truetype');*/
}
@font-face {
	font-family: BryantWebBold;
	src: url('fonts/Bryant2Web_EOT/BryantWebBold.eot');
	src: url('fonts/Bryant2Web_WOFF/BryantWebBold.woff') format('woff');
	/*src: url('fonts/Bryant2Web_TTF/BryantWebBold.ttf') format('truetype');*/
}
 body, html{
 	background-color: #ebf0f2;
 	font-family: BryantWebRegular,Arial, Helvetica, sans-serif;
 	font-weight: normal;
 }
 #container{
 	width: 640px;
 }
 header{
 	background: #d4d6d5 url(../img/headerBg.jpg) repeat 0 0;;
 	border: none;
 }
 header .branding{
 	left: 0;
    position: absolute;
    top: -60px;
    z-index: 1000;
 }
 header .branding a{
 	font-size: 27px;
 	line-height: 35px;
 }
 header .navigation{
 	list-style-type: none;
 	margin: 0;
 	padding: 14px 0 14px 230px;
 }
 header .navigation li{
 	float: left;
 	border-right: solid 1px #7f7f7f;

 }
 header .navigation li.last{
 	border: none;
 }
 header .navigation li a{
 	color: #7f7f7f;
 	display: block;
 	font-size: 27px;
 	line-height: 30px;
 	font-weight: normal;
 	margin: 0 37px;
 	text-shadow: none;
 	text-decoration: none;
 }
 header .navigation li a.selected{
 	color: #460c00;
 }
.collapsible-set .content{
	position: relative;
	top: -1px;
}
.collapsible-set h3{
	font-size: 53px;
	line-height: 53px;
	padding: 15px 0 15px 266px;
	margin: 0;
}
.collapsible-set h3 span{
	font-size: 53px;
	line-height: 53px;
}
.collapsible-set div.checked h3{
	background-color: #a24127;
	color: #f8be57;
	margin: 0;
	border-bottom: 1px solid #FFFFFF;
	font-weight: bold;
}
.collapsible-set div.checked h3 span{
	color: #fe772e;
}
.collapsible-set h3{
	background-color: #fff;
	margin: 0 0 1px 0;
	color: #f8be57;
	font-weight: bold;
}
.collapsible-set h3 span{
	color: #fe772e;
}
.collapsible-set .content{
	display: none;
}
.collapsible-set .open{
	display: block;
}
footer{
	padding: 60px 17px 180px 17px;
}
footer ul.navigation{
	text-align: center;
	margin: 0;
	padding: 0 0 30px 0;
	border-bottom: dotted 1px #c1a393;
	background: transparent url(../img/footerDot.jpg) no-repeat 356px 7px;
}
footer ul.navigation li{
	display: inline;
}
footer ul.navigation li a{
	font-size: 30px;
	line-height: 35px;
	color: #853098;
	text-decoration: none;
	padding: 0 30px;
	font-weight: bold;
}
footer .social{
	padding: 28px 0 64px 45px;
}
footer .social span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #460c00;
	display: inline;
}
footer .social a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #853098;
	text-decoration: none;
	display: inline;
}
footer .social span.icons{
	padding: 0 20px;
}
footer .social span.icons a{
	padding: 0 20px 0 0;
}
footer .social .title{
	float: left;
	width: 110px;
	position: relative;
	top: 13px;
}
footer .social .icons{
	float: left;
	width: 175px;
}
footer .social .desktopLnk{
	float: left;
	width: 190px;
	position: relative;
	top: 13px;
}
footer .bottom p,
.wizardEnd p{
	padding: 22px 0;
	font-size: 20px;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #460c00;
	/*android fix*/
	background-color: #ebf0f2;
}
footer .bottom p a{
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #853098;
	text-decoration: none;
}
.nameCookie,
.register,
.login,
.confirmation,
.cookieRegistry,
.customizeCookie,
.wizardEnd{
	padding: 63px 20px 67px 20px;
}
.login{
	display: none;
}
.nameCookie h4, .register h4, .login h4,
.confirmation h4,
.customizeCookie h4,
.cookieWizardResult h4,
.wizardEnd h4{
	color: #ec5f01;
	font-size: 42px;
	line-height: 44px;
	background: transparent url(../img/arrowBullet.jpg) no-repeat 0 0;
	margin: 0;
	padding: 0 0 0 70px;
	font-weight: normal;
}
.cookieWizardResult h4{
	margin: 0 0 0 20px;
}
.cookieWizardResult{
	padding: 123px 0 0 0;
}
.cookieWizardResult .cookieRegistry{
	position: relative;
	top: -50px;
}
.customizeCookie .explanation{
	text-align: right;
	padding: 15px 0;
	font-size: 25px;
	font-weight: normal;
	color: #571B10;
	height: 31px;
}
.customizeCookie .explanation span{

}
.nameCookie h5,
.confirmation h5,
.customizeCookie h5{
	color: #326872;
	font-size: 29px;
	line-height: 32px;
	background: none;
	margin: 0;
	padding: 0 0 0 70px;
	font-weight: normal;
	/*android fix*/
	background-color: #ebf0f2;
}
.nameCookie .row,
.register .row,
.login .row,
.customizeCookie .row{
	padding: 24px 0 0 0;
}
.nameCookie .row label,
.register .row label,
.login .row label,
.register .checkboxRow span,
.customizeCookie .row label{
	font-size: 26px;
	color: #460c00;
	display: block;
}
.nameCookie .row label.error,
.register .row label.error,
.login .row label.error,
.register .checkboxRow span.error,
.customizeCookie .row label.error{
	color: #ff0000;
}
.nameCookie .row input[type=text].error,
.register .row input[type=text].error,
.login .row input[type=text].error,
.register .row input[type=password].error,
.login .row input[type=password].error,
.customizeCookie .row input[type=text].error{
	border: solid 1px #ff0000;
}
.nameCookie .row input[type=text],
.register .row input[type=text], .login .row input[type=text],
.register .row input[type=password], .login .row input[type=password],
.register .row input.zip,
.customizeCookie .row input[type=text]{
	display: block;
	color: #999999;
	font-size: 24px;
	border: solid 1px #e2e6e8;
	padding: 20px 17px;
	margin: 18px 0 0 0;
	width: 566px;
}
.register .row input.zip{
	width: 251px;
}
.nameCookie .row textarea,
.customizeCookie .row textarea{
	display: block;
	color: #999999;
	font-size: 24px;
	line-height: 26px;
	border: solid 1px #e2e6e8;
	padding: 20px 17px;
	resize: none;
	margin: 18px 0 0 0;
	width: 566px;
	height: 140px;
}
.nameCookie .row textarea.error,
.customizeCookie .row textarea.error{
	border: solid 1px #ff0000;
}
.customizeCookie .row span.fieldsRequired{
	color: #666666;
    display: block;
    font-size: 24px;
    line-height: 26px;
    padding: 5px;
}
.nameCookie .row span,
.register span,
.customizeCookie .row span{
	display: block;
	color: #666666;
	font-size: 24px;
	line-height: 26px;
}
.nameCookie .row .btnNext{
	position: relative;
	left: 410px;
}
.register .checkboxRow span{
	padding: 0 0 24px 0;
}
.nameCookie .row a.toggle-step,
.register .btn{
	left: 418px;
    position: relative;
}
.register .checkboxRow{}
.register .checkboxRow input[type=checkbox]{
	float: left;
	margin: 0 20px 0 0;
	position: relative;
	top: 5px;
}
.register .checkboxRow label{
	float: left;
	width: 500px;
	color: #666666;
	font-size: 24px;
}
.register .checkboxRow label a{
	color: #853098;
	font-size: 24px;
	text-decoration: none;
}
.login .row .forgotLink{
	color: #853098;
	font-size: 24px;
	text-decoration: none;
}
.login h5, .register h5,
.login h5 .toggle-register,
.register h5 .toggle-login{
	color: #460c00;
	font-size: 24px;
	line-height: 26px;
	font-weight: normal;
	margin: 80px 0 0 0;
}
.login h5 .toggle-register,
.register h5 .toggle-login{
	color: #460c00;
}
.login h5 .toggle-register,
.register h5 .toggle-login,
.confirmation .actionLinks .profileLink,
.confirmation .visitFacebook{
	color: #853098;
	text-decoration: none;
	background: transparent url(../img/rightArrow.jpg) no-repeat top right;
	padding: 0 26px 0 0;
}
.register .month-wrapper select,
.register .day-wrapper select,
.register .year-wrapper select{
	background: transparent;
	display: block;
	color: #999999;
	font-size: 24px;
	border: solid 1px #e2e6e8;
	padding: 20px 17px;
	-webkit-appearance: none;
}
.register .errorMessage,
.register .checkboxRow span.errorMessage{
	color: #ff0000;
	background-color: #ebf0f2;
}
.register .month-wrapper select.error,
.register .day-wrapper select.error,
.register .year-wrapper select.error{
	border: solid 1px #ff0000;
}
.register .month-wrapper{
	background-color: #ffffff;
	width: 251px;
	float: left;
	margin: 0 4px 0 0;
}
.register .month-wrapper label.error,
.register .day-wrapper label.error,
.register .year-wrapper label.error{
	background: #EBF0F2;
}
.register .month-wrapper select{
	width: 251px;
	background: url("../img/selectDropArrow.jpg") no-repeat scroll 215px 26px #FFFFFF;
}
.register .day-wrapper{
	width: 175px;
	background-color: #ffffff;
	float: left;
	margin: 0 4px 0 0;
}
.register .day-wrapper select{
	width: 175px;
	background: url("../img/selectDropArrow.jpg") no-repeat scroll 137px 26px #FFFFFF;
}
.register .year-wrapper{
	width: 165px;
	background-color: #ffffff;
	float: left;
}
.register .year-wrapper select{
	width: 165px;
	background: url("../img/selectDropArrow.jpg") no-repeat scroll 127px 26px #FFFFFF;
}
.register .row .btnEnter{
	position: relative;
	left: 300px;
}
.register .row .btnUpdate{
	position: relative;
	left: 290px;
}
.login .row .btnSubmit{
	position: relative;
	left: 400px;
}
.confirmation span{
	font-size: 22px;
	color: #460c00;
	padding: 15px 0 15px 70px;
	display: block;
	/*android fix*/
	background-color: #ebf0f2;
}
.confirmation .cookieEntry,
.cookieRegistry .cookieEntry{
	background-color: #ffffff;
	border: solid 1px #e2e6e8;
	position: relative;
	top: 70px;
	text-align: center;
	padding: 0 27px 30px 27px;
}
.cookieRegistry .cookieEntry{
	margin: 0 0 120px 0;
}
.confirmation .cookieEntry h2,
.cookieRegistry .cookieEntry h2{
	display: inline-block;
	background-color: #ffffff;
	border: solid 1px #e2e6e8;
	border-bottom: solid 1px #ffffff;
	padding: 25px 30px;
	font-weight: normal;
	color: #666666;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	padding: 18px 33px 0 70px;
	position: absolute;
	left: 0;
	height: 40px;
	top: -60px;
	left: -1px;
	text-align: left;
}
.confirmation .cookieEntry h2.cookie1,
.cookieRegistry .cookieEntry h2.cookie1{
	background: #ffffff url(../img/cookie1.jpg) no-repeat 10px 11px;
}
.cookieRegistry .cookieEntry h2.cookie2{
	background: #ffffff url(../img/cookie2.jpg) no-repeat 10px 11px;
}
.confirmation .cookieEntry .colContainer,
.cookieRegistry .cookieEntry .colContainer{
	background: #ffffff url(../img/verticalDash.jpg) repeat-y 270px 0;
}
.confirmation .cookieEntry .left,
.confirmation .cookieEntry .right,
.cookieRegistry .cookieEntry .left,
.cookieRegistry .cookieEntry .right{
	width: 249px;
	float: left;
	text-align: left;
	padding: 6px 20px;
}
.confirmation .cookieEntry .left,
.cookieRegistry .cookieEntry .left{
	padding: 6px 20px 6px 0;
}
.confirmation .cookieEntry .right,
.cookieRegistry .cookieEntry .right{
	padding: 6px 0 6px 20px;
}
.confirmation .cookieEntry .left p,
.confirmation .cookieEntry .right p,
.cookieRegistry .cookieEntry .left p,
.cookieRegistry .cookieEntry .right p{
	font-style: italic;
	font-weight: normal;
	color: #666666;
	font-size: 25px;
	line-height: 30px;
	margin: 0;
}
.confirmation .cookieEntry .left p strong,
.confirmation .cookieEntry .right p strong,
.cookieRegistry .cookieEntry .left p strong,
.cookieRegistry .cookieEntry .right p strong{
	font-style: italic;
	font-weight: normal;
	color: #330000;
	font-size: 25px;
	line-height: 40px;
}
.confirmation .cookieEntry h4,
.cookieRegistry .cookieEntry h4{
	text-align: left;
	margin: 0;
	padding: 0;
	background: none;
	color: #460c00;
	font-weight: normal;
	font-size: 25px;
	padding: 23px 0 15px 0;
}
.confirmation .cookieEntry img,
.cookieRegistry .cookieEntry img{
	padding: 15px 0 25px 0;
}
.cookieWizardResult .imageResultContainer{
	position: relative;
	width: 392px;
	height: 282px;
	overflow: hidden;
	margin: 15px auto 25px;
}
.cookieWizardResult .imageResultContainer img{
	padding: 0;
	position: absolute;
	left: 0;
}
.confirmation .cookieEntry .inspiration,
.cookieRegistry .cookieEntry .inspiration{
	text-align: left;
	font-size: 25px;
	line-height: 28px;
	color: #666666;
	margin: 0;
	background-color: #ffffff;
}
.confirmation .note{
	margin: 100px 0 0 0;
	font-size: 21px;
	line-height: 22px;
	color: #666666;
	/*android fix*/
	background-color: #ebf0f2;
}
.confirmation .note strong{
	font-weight: bold;
}
.confirmation .actionLinks{
	padding: 20px 0 70px 0;
}
.confirmation .actionLinks .profileLink,
.confirmation .visitFacebook{
	font-size: 26px;
	font-weight: bold;
	position: relative;
	top: 10px;
	color: #853098;
	text-decoration: none;
	background: transparent url(../img/rightArrow.jpg) no-repeat top right;
	padding: 0 26px 0 0;
}
.confirmation .actionLinks .btnCreateMore{
	position: relative;
	left: 65px;
}
.confirmation .coupon{
	padding: 0 0 65px 0;
	display: block;
}
.confirmation .visitFacebook{
	padding: 0 26px 0 10px;
}
.profileNav{
	margin: 0;
	padding: 14px 0 14px 230px;
	background-color: #cd9786;
	list-style-type: none;
	position: relative;
	top: -1px;
}
.profileNav li{
	float: left;
	border-right: solid 1px #e2b3a4;
}
.profileNav li.last{
	border: none;
}
.profileNav li a{
	color: #853098;
 	display: block;
 	font-size: 27px;
 	line-height: 30px;
 	font-weight: normal;
 	margin: 0 37px;
 	text-shadow: none;
 	text-decoration: none;
}
.profileNav li a.selected{
	color: #460c00;
}
.cookieRegistry .btnCreateMore{
	position: relative;
	left: 280px;
}
.cookieRegistry .dates{
	color: #FF762D;
    display: block;
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 10px 245px;
}
.cookieRegistry h4{
	color: #460C00;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
}
.cookieRegistry .explanation{
	color: #666666;
    font-size: 25px;
    line-height: 28px;
    margin: 0;
    /*android fix*/
	background-color: #ebf0f2;
}
.cookieRegistry .explanation strong{
	font-weight: bold;
}
.cookieRegistry{
	padding: 10px 20px 25px;
}
.cookieRegistry .actionButtons .btnDone{
	left: 260px;
	position: relative;
	top: -20px;
}
.customizeCookie{
	padding: 123px 20px 67px;
}
.cookieSelector ul{
	list-style-type: none;
	margin: 20px 0;
	padding: 0;
}
.cookieSelector ul li{
	padding: 4px;
	background-color: #ffffff;
	margin: 0 0 4px 0;
	border: solid 1px #e2e6e8;
}
.cookieSelector ul li a{
	color: #adadad;
	display: block;
	font-size: 35px;
	text-decoration: none;
	font-style: italic;
	padding: 57px;
	border: solid 1px #ffffff;
	font-weight: bold;
}
.cookieSelector ul li a sup{
	font-size: 35px;
	font-weight: normal;
	top: 0;
}
.cookieSelector ul li.classic a,
.cookieSelector ul li.classic-milano a{
	background-image: url(../img/milanoClassic.png);
	background-repeat: none;
	background-position: 340px 15px;
	background-repeat: no-repeat;
}
.cookieSelector ul li.slices a,
.cookieSelector ul li.milano-slices a{
	background-image: url(../img/milanoSlices.png);
	background-repeat: none;
	background-position: 340px 15px;
	background-repeat: no-repeat;
}
.cookieSelector ul li.melts a,
.cookieSelector ul li.milano-melts a{
	background-image: url(../img/milanoMelts.png);
	background-repeat: none;
	background-position: 340px 15px;
	background-repeat: no-repeat;
}
.cookieSelector ul li.selected a{
	background-color: #f9ebd8;
	border: solid 1px #edd6c2;
	color: #666666;
}
.customizeCookie .wizardOptions{
	background-color: white;
	border: solid 1px #E2E6E8;
	position: relative;
	padding: 10px;
	margin-bottom:20px;
	margin-top:10px;
}
.customizeCookie .wizardOptions .ui-tabs-nav{
	background: url(../img/tabs-shadow-top.png) no-repeat 0 48px;
	padding: 5px 0 0;
	margin: 0 0;
	position: relative;
}
.customizeCookie .wizardOptions .ui-tabs-nav li{
	margin: 0;
	background-color: transparent;
	background-image: none;
	padding: 15px 15px 0 15px;
	border: none;
	position: relative;
	top: -25px;
	display: inline-block;
	vertical-align: top;
	height: 70px;
	max-width: 160px;
}
.customizeCookie .wizardOptions .ui-tabs-nav li a{
	white-space: normal;
	font-size: 23px;
	float: none;
	display: inline;
	font-weight: normal;
	color: #460c00;
	font-style: normal;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	background-image: none;
	text-align: center;
	max-width: 160px;
}
.customizeCookie .wizardOptions .ui-tabs-nav li.ui-state-active{
	border-top: solid 1px #E2E6E8;
	border-left: solid 1px #E2E6E8;
	border-right: solid 1px #E2E6E8;
	background-color: #ffffff;
}
.customizeCookie .wizardOptions .ui-tabs-nav li.ui-state-active a{
	font-weight: normal;
	color: #853098;
	/*float: none;*/
	font-style: normal;
}
.customizeCookie .wizardOptions .ui-tabs .ui-tabs-panel{
	padding: 5px;
}
.customizeCookie .wizardOptions ul.ingredientList{
	padding: 0 9px;
}
.customizeCookie .wizardOptions ul.ingredientList li{
	margin: 5px;
	height: 190px;
	padding: 0px;
	float: left;
	border: none;
	width: 170px;
}
.customizeCookie .wizardOptions ul.ingredientList li a{
	margin: 0px;
	padding: 0px;
	float: left;
	border: none;
	width: 170px;
	height: 190px;
	border: 1px solid #ffffff;
	text-align: center;
}
.customizeCookie .wizardOptions ul.ingredientList li a:hover {
	border: solid 1px #edd6c2;
}
.customizeCookie .wizardOptions ul.ingredientList li a span{
	display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    position: relative;
    text-align: center;
    top: 131px;
}

.customizeCookie .wizardOptions ul.ingredientList li a.selected,
.customizeCookie .wizardOptions ul.ingredientList li.selected a{
	background-color: #f9ebd8;
	border: solid 1px #edd6c2;
	color: #666666;
}

.customizeCookie .actionButtons{
	height: 70px;
}
.customizeCookie .row .actionButtons .btnBack,
.customizeCookie .actionButtons .btnBack,
.cookieRegistry .actionButtons .btnBack{
	font-weight: bold;
	font-size: 36px;
	color: #853098;
	display: inline;
	background: transparent url(../img/leftArrow.jpg) no-repeat 0 0;
	padding: 0 0 0 40px;
	text-decoration: none;
}
.customizeCookie .row .actionButtons .btnEnter{
	display: inline;
	position: relative;
	left: 160px;
}
.customizeCookie .actionButtons .btnBack.disabled,
.customizeCookie .actionButtons .btnNext.disabled,
.customizeCookie .actionButtons .btnNext2.disabled
 {
	opacity: 0.4;
},

.customizeCookie .actionButtons .btnBack{
	position:relative;
	top:10px;
}
.customizeCookie .actionButtons .btnNext{
 	position: relative;
	left: 420px;
}
.customizeCookie .actionButtons .btnNext2{
	position: relative;
	left: 260px;
}
.customizeCookie .actionButtons .suggestLink{
	float:left;
	font-size: 25px;
	color: #853098;
	text-decoration: none;
	margin: 30px 0px 0px;
	padding-right:30px;
	background:url(../img/rightArrow.jpg) no-repeat right center;
}
ul#cookieWizard{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul#cookieWizard li.wizardStep1,
ul#cookieWizard li.wizardStep2,
ul#cookieWizard li.wizardStep3,
ul#cookieWizard li.wizardStep4{
	list-style-type: none;
	width: 600px;
	float: left;
}
.wizard-carousel-container{
	width: 640px;
}
.wizard-carousel-container .wizard-carousel-clip{
	width: 2560px;
	position: relative;
}
.cookieWizardResult .imageResultContainer .cookieType{
	bottom: 0;
}
.cookieWizardResult .imageResultContainer .filling0{
	bottom: 10px;
}
.cookieWizardResult .imageResultContainer .filling1{
	bottom: 22px;
}
.cookieWizardResult .imageResultContainer .cookieTop1{
	bottom: 25px;
}
.cookieWizardResult .imageResultContainer .cookieTop2{
	bottom: 35px;
}
.cookieWizardResult .imageResultContainer .topping0{
	left: 15px;
	bottom: 15px;
}
.cookieWizardResult .imageResultContainer .topping1{
	left: 15px;
	bottom: 25px;
}
.cookieWizardResult .imageResultContainer .topping2{
	left: 15px;
	bottom: 25px;
}
.cookieWizardResult .imageResultContainer .meltFilling{
	left: 196px;
	bottom: 41px;
}
.hide {
	display: none;
}
